<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaju.project.mapper.ProjectMemberMapper">

    <resultMap id="BaseResultMap" type="com.jiaju.project.model.entity.ProjectMember">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="project_id" column="project_id" jdbcType="INTEGER"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="created_time" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updated_time" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,user_name,
        avatar,created_time,updated_time,
        isDelete
    </sql>
    <select id="queryProjectMemberList" resultType="com.jiaju.project.model.vo.ProjectMemberVO">
        select m.id, m.user_name, p.`name` as project_name, m.avatar, m.created_time, m.updated_time
        from project_member as m inner join project_info as p on m.project_id=p.id and m.isDelete=0
    </select>
</mapper>
