<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaju.project.mapper.SensorInfoMapper">

    <resultMap id="BaseResultMap" type="com.jiaju.project.model.entity.SensorInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="structure_id" column="structure_id" jdbcType="INTEGER"/>
        <result property="created_by" column="created_by" jdbcType="VARCHAR"/>
        <result property="group_id" column="group_id" jdbcType="INTEGER"/>
        <result property="created_time" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updated_time" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,type,
        status,location,structure_id,
        created_by,group_id,created_time,
        updated_time,isDelete
    </sql>
    <select id="getSensorInfoList" resultType="com.jiaju.project.model.vo.SensorVO">
        select sensor_info.id,
               sensor_info.`name`,
               sensor_info.type,
               sensor_info.`status`,
               sensor_info.location,
               structure_info.`name` as structure_name,
               sensor_info.created_by,
               g.`name`              as group_name,
               sensor_info.created_time,
               sensor_info.updated_time
        from sensor_info
                 INNER JOIN work_group as g
                 INNER JOIN structure_info
                            on sensor_info.structure_id = structure_info.id and sensor_info.group_id = g.id and
                               sensor_info.isDelete = 0
    </select>

    <!--    <resultMap id="locationType" type="java.util.HashMap">
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result column="count" property="count" jdbcType="VARCHAR"/>
        </resultMap>
        <select id="getSensorInfoSubtotals" resultMap="locationType">
            select location,type,count(*) as count from sensor_info
            where isDelete = 0
            group by location,type
        </select>-->
</mapper>
