<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaju.project.mapper.TemperatureSensorDataMapper">

    <resultMap id="BaseResultMap" type="com.jiaju.project.model.entity.TemperatureSensorData">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sensor_id" column="sensor_id" jdbcType="INTEGER"/>
            <result property="temperature" column="temperature" jdbcType="FLOAT"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="measurement_time" column="measurement_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sensor_id,temperature,
        unit,measurement_time,isDelete
    </sql>
    <select id="getTemperatureHistory" resultType="com.jiaju.project.model.vo.TemperatureVO">
        select s.`name`, temperature, measurement_time as `date`
        from temperature_sensor_data as d INNER JOIN sensor_info as s
        on s.id=d.sensor_id and s.isDelete=0
        order by `date`
    </select>
    <select id="getTemperatureRealtime" resultType="com.jiaju.project.model.vo.TemperatureVO">
        select s.name, temperature, measurement_time as `date`
        from temperature_sensor_data as d
                 inner join sensor_info as s
                            on DATE_FORMAT(measurement_time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
                                and s.id=d.sensor_id and s.isDelete=0
        ORDER BY `date`
    </select>
</mapper>
